doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(type= 'text/javascript', src="/javascripts/jquery-3.6.1.js")
  script(type= 'text/javascript', src="/javascripts/alert.js")
  script(type= 'text/javascript', src="/javascripts/ajax.js")
